.nav {
  background: hsla(0, 0%, 100%, 0.24);
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
}
.background__image {
  background-image: url("../../image/card.jpg");
  height: 100vh;
  background-size: cover;
}
.nav__button {
  color: #172b4d;
  display: flex;
  align-items: center;
  font-size: 14px;
  border: 0px;
  height: 32px;
  line-height: 32px;
  margin: 0 6px 0 0;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  padding: 0px 6px;
}
.nav__button:hover {
  cursor: pointer;
  background-color: #00000038;
}
.nav__button:focus {
  outline: none;
}
.chatroom__div {
  display: flex;
  align-items: center;
  margin-right: 6px;
}
.chatroom {
  margin: 0px;
}
.board__navbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  color: #172b4d;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  margin: 8px 0px;
  border: 0px;
  border-radius: 3px;
}
.nav__left {
  width: 50%;
  display: flex;
}
.nav__right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.nav__2 {
  position: fixed;
  width: 100%;
  top: 40px;
}
.todos {
  margin-top: 6px;
  margin-left: 12px;
  overflow-x: auto;
  display: flex;
  height: 80vh;
}
.todo__empty__card {
  /* height: 20px; */
  margin: 0px;

  /* font-size: 14px; */
}
.todo__empty__button {
  color: #172b4d;
  cursor: pointer;
  border: 0px;
  width: 220px;
  min-width: 219px;
  background: transparent;
  padding: 10px;
  padding-left: 16px;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
}
.todo__empty__button:focus {
  outline: none;
}
.todo__filled__button {
  color: #172b4d;
  cursor: pointer;
  border: 0px;
  width: 220px;
  min-width: 219px;
  background: transparent;
  padding: 10px;
  padding-left: 16px;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  color: #5e6c84;
}
.todo__filled__card {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
.todo__filled__button:focus {
  outline: none;
}
.todo__empty__button:hover {
  background-color: hsla(0, 0%, 100%, 0.24);
  border-radius: 4px;
}
.todo__filled__button:hover {
  background-color: hsla(0, 0%, 100%, 0.24);
  border-radius: 4px;
}
.todo__card {
  background-color: #ebecf0;
  border-radius: 3px;
  margin-right: 8px;
}
.todo__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading {
  color: #172b4d;
  cursor: pointer;
  border: 0px;
  margin: 0px;
  width: 220px;
  min-width: 219px;
  padding: 10px;
  padding-left: 16px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
}
.icon {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px 10px;
  color: #5e6c84;
}
.todo__input__card {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.type__msg {
  color: #172b4d;
  cursor: pointer;
  border: 0px;
  width: 220px;
  min-width: 219px;
  background: transparent;
  /* padding: 10px; */
  /* padding-left: 16px; */
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
}
.type__input {
  background-color: #fff;
  border: 0px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  width: 100%;
  padding: 10px 8px;
  color: #172b4d;
}
.type__input:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #0079bf;
}
.todo__input {
  background-color: #fff;
  border: 0px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  width: 100%;
  padding: 8px 8px;
  margin: 4px 0px;
  color: #172b4d;
}
.todo__input:focus {
  outline: none;
}
.addlist {
  display: flex;
  align-items: center;
}
.addlist__button {
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  margin-top: 4px;
  padding: 8px 8px;
  font-size: 14px;
  border-radius: 4px;
}
.addlist__button:focus {
  outline: none;
  cursor: pointer;
}
.adding__lists {
  background-color: #ebecf0;
  border-radius: 3px;
  padding: 4px;
  /* padding-bottom: 2px; */
}
